<h1>New House</h1>
<%= form_for @house do |f| %>
				<div>
								<%= f.label :address %>
								<%= f.text_field :address %>
				</div>
				<div>
								<%= f.label :price %>
								<%= f.text_field :price %>
				</div>>
				<div>
								<%= f.submit %>
				</div>


<%end%>
